<header class="navbar container">
    <div class="navbar-container">
        <a routerLink="/" class="navbar-logo">
            <div class="soccer"></div>
            <span class="m-l-6">TAKTİKSEL</span>
        </a>

        <nav class="navbar-links" [class.open]="isMenuOpen">
            <ul>
                <li>
                    <a routerLink="/kadro-kur"
                        [ngClass]="{'active-menu': selectedMenu.includes('/kadro-kur') || selectedMenu == '/' }">
                        {{'Kadro Kur' | translate}}
                    </a>
                </li>
                <li>
                    <a routerLink="/kurulan-kadrolar" [ngClass]="{'active-menu': selectedMenu == '/kurulan-kadrolar'}">
                        {{'Kadrolar' | translate}}
                    </a>
                </li>
                <li class="pro-feature">
                    <a routerLink="/taktik-tahtasi" [ngClass]="{'active-menu': selectedMenu == '/taktik-tahtasi'}">
                        {{'Taktik Tahtası' | translate}}
                        <span class="pro-tag">PRO</span>
                    </a>
                </li>
                <!-- <li><a routerLink="about">{{'About' | translate}}</a></li>
                <li><a href="assets/documents/Mustafa Gönen CV.pdf" target="_blank">{{'CV' | translate}}</a></li>
                <li><a routerLink="contact">{{'Contact' | translate}}</a></li> -->

                <div class="navbar-right">
                    <ng-container *ngIf="authService.user$ | async as user">
                        <span class="user-display">Hoş geldin, {{ user.displayName || user.email }}</span>
                        <button class="logout-button" (click)="logout()">
                            <i class="fas fa-sign-out-alt"></i> <span>Çıkış Yap</span>
                        </button>
                    </ng-container>
                    <ng-template #elseBlock>
                        asd
                        <a routerLink="/login" class="nav-link">Giriş Yap</a>
                        <a routerLink="/register" class="nav-link">Kayıt Ol</a>
                    </ng-template>
                </div>
            </ul>
        </nav>

        <div class="mobile-menu-icon">
            <div #mobileMenu id="mobileMenu" class="hamburger" (click)="toggleMenuWrapper()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>
</header>