:host {
    display: block;
    padding: 16px;
    overflow: hidden;
}

.player-search-input {
    box-shadow: 0 4px 14px rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #2B2D3C;
    border: 2px solid transparent !important;
    height: 40px;
    min-height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-top: 8px;
    color: #e0e0e0 !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 13px;
    padding: 4px 12px;
}

.player-search-input:focus-visible {
    outline: none !important;
    border: 2px solid #4A90E2 !important;
}

.player-result-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
    margin-top: 15px;
    gap: 5px;
    height: 400px;
    padding-right: 8px;
}

.player-result-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: rgb(217, 217, 217);
    // background-color: #2B2D3C;
    background-color: rgb(43 45 60 / 95%);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #3A3C4F;
    }

    .img-wrapper {
        position: relative;
        width: 46px;
        height: 46px;
        border-radius: 40px;
        background: rgba(22, 22, 22, 0.8);
        overflow: hidden;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0px;
            color: transparent;
        }
    }

    .player-name {
        margin-left: 12px;
    }

    .position-list {
        margin-left: auto;
        margin-right: 12px;
        display: flex;

        div {
            margin-right: 2px;
        }
    }

    .flag-wrapper {
        display: flex;

        img {
            inset: 0px;
        }
    }
}