<!-- Desktop -->
<div class="desktop-wrapper">
    <div class="text-center">
        <img class="error-img" src="assets/images/error-page.svg">
        <p class="title-1">{{'Üzgünüz!' | translate}}</p>
        <p class="title-2">
            {{'Aradığınız sayfayı bulamadık.' | translate}}
        </p>

        <p class="title-3">
            {{'Lütfen Ana Sayfa’ya gidip tekrar deneyin.' | translate}}
        </p>

        <div class="home-page-btn-wrapper" (click)="onNavigateHomePage()">
            {{'Ana Sayfaya Git' | translate}}
            <img src="assets/images/chevron-right.svg">
        </div>
    </div>
</div>

<!-- Tablet -->
<div class="tablet-wrapper">
    <div class="text-center">
        <img class="error-img" src="assets/images/error-page.svg">
        <p class="title-1">{{'Üzgünüz!' | translate}}</p>
        <p class="title-2">
            {{'Aradığınız sayfayı bulamadık.' | translate}}
        </p>

        <p class="title-3">
            {{'Lütfen Ana Sayfa’ya gidip tekrar deneyin.' | translate}}
        </p>

        <div class="home-page-btn-wrapper" (click)="onNavigateHomePage()">
            {{'Ana Sayfaya Git' | translate}}
            <img src="assets/images/chevron-right.svg">
        </div>
    </div>
</div>

<!-- Mobile -->
<div class="mobile-wrapper">
    <div class="text-center">
        <img class="error-img" src="assets/images/error-page.svg">
        <p class="title-1">{{'Üzgünüz!' | translate}}</p>
        <p class="title-2">
            {{'Aradığınız sayfayı bulamadık.' | translate}}
        </p>

        <p class="title-3">
            {{'Lütfen Ana Sayfa’ya gidip tekrar deneyin.' | translate}}
        </p>

        <div class="home-page-btn-wrapper" (click)="onNavigateHomePage()">
            {{'Ana Sayfaya Git' | translate}}
            <img src="assets/images/chevron-right.svg">
        </div>
    </div>
</div>