@import "../../../styles.scss";

:host {
    display: block;
    height: 100%;
}

.error-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: #D52020;
}